
.secondaryBar{
    background-image: linear-gradient(90deg, #2c387e 30%, #304ffe 90%);
    align-items: center;
    z-index: 1000;
}

.tab:hover{
    background-color: #f73378;
    color: #fff;
}

.title{
    flex-grow: 1;
    color: #fff;
}

