.bar{
    background-image: linear-gradient(90deg, #283593 0%, #3949ab 50%, #5c6bc0 100%);
    color: #fff;
    padding: 1px;
}

.secondaryBar{
    background-image: linear-gradient(90deg, #283593 0%, #3949ab 50%, #5c6bc0 100%);
    align-items: center;
    z-index: 0;
}

.tab:hover{
    background-color: #f73378;
}

.title{
    flex-grow: 1;
}

